.mainc{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 30vw;
  left: 1vw;
  position: absolute;
  
}
.Aboutcard{
  display: flex;
  flex-direction: column;
  background: white;
}
.aboud{
  width: 20.4vw;
  margin-left: 1vw;
}
.aboud2{
  width: 33vw;
  margin-left: 4vw;
}
.maink{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 30vw;
  left: 1vw;
  position: absolute;
}
.b{
  height:90vh;
  background-color: aliceblue;
  overflow: hidden;
}
ul{
  display: flex;
  margin-left: -40px;
}
li{
  list-style: none;
  padding: 9px;
}
.ulr2{
  display: flex;
  flex-direction: column;
  margin-left: -31px;
}
.ulr23{
  display: flex;
  flex-direction: column;
  margin-left: -58px;
  padding-top: 0px;
  padding-bottom: 8px;
  width: 40vw;
}
.r2{
  display: flex;
}
.li2{
  list-style: none;
  padding: 0px;
  padding-left: 1px;
}
.li23{
  list-style: none;
  padding: 5px;
}
li a{
  text-decoration: none;
}
.r1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0vh;
}
.r1c2{
  display: flex;
  margin-top: 10px;
}
.btdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bdiv{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding-right: 220px;
}
.bdiv h5{
  margin-left: -30px;
}
.bdiv h6{
  margin-left: -50px;
}
.sim{
  height: 23vh;
}
.cardsec{
  display: flex;
  height: 23vh;
  width: 80vw;
  margin: auto;
}
.k{
  height: 10vh;
  width: 25.5vw;
  margin: auto;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6%;
}
.k div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1vw;
}
.homehalf{
  background: aliceblue;
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homehalf main{
  margin: auto;
}
.Aboutcard{
  width: 60vw;
  margin: auto;
  height: 63vh;
  margin-top: 13vh;
  border-radius: 2%;
}
.hc{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 42vh;
  left: 33vw;
  justify-content: center;
  align-items: center;
  width: 420px;
}
.contcard{
  width: 52vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0vw;
    height: 59vh;
    border: 1px solid white;
    border-radius: 2%;
    background-color: white;
}
.contmain{
    margin: auto;
    margin-top: 1vw;
    width: 45vw;
}
.card{
  width:32vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 80vh;
  border-radius: 2%;
}
.th{
  margin-top: 16vh;
}
.cardk{
  width:32vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  height: 38vh;
  border-radius: 2%;
}
nav{
  position: relative;
  height: 60px;
}
.navc{
  height: 60px;
  display: inline-block;
}